.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 5vh;
    background-color:#19293a;
    color: white;
    padding: 1vh;
    font-size: 24px;
    position: fixed;
}

.content {
    width: 100%;
    margin-top: 5vh;
    flex: 1;
    background-color: #ADD8E6;
    color: #070738;
    padding: 1vh;
    transition: 0.5s ease-in-out margin-left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

.footer {
    width: 100%;
    height: 5vh;
    padding: 2vh;
    font-size: 16px;
    text-align: center;
    background-color: #2C415A;
    color: white;
}

.searchForm {
    width: auto;
    height: auto;
    font-size: 20px;
    left: 25vw;
    position: fixed;
    top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color:white;
}

.searchLabel {
    width: auto;
    height: auto;
}

.searchField {
    width: 20vw;
    height: 3vh;
    padding: 0.1vh;
    font-size: inherit;
}

.searchButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
}

.searchButton:hover {
    color: #ffffff80;
}