.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 5vh;
    background-color:#19293a;
    color: white;
    padding: 1vh;
    font-size: 24px;
    position: fixed;
}

.content {
    width: 100%;
    margin-top: 5vh;
    flex: 1;
    background-color: #ADD8E6;
    color: #070738;
    padding: 1vh;
    transition: 0.5s ease-in-out margin-left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    align-content: center;
}

.footer {
    width: 100%;
    height: 5vh;
    padding: 2vh;
    font-size: 16px;
    text-align: center;
    background-color: #2C415A;
    color: white;
}

.removeForm {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: inherit;
}

.removeButton {
    width: 25%;
    height: 10%;
    border: 1px solid transparent;
    border-radius: 40px;
    background: linear-gradient(90deg, #1D5562 -48.75%, #2C7A94 153.75%);
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.removeInput {
    height: 10%;
    font-size: inherit;
}

.removeButton:hover {
    background: fixed;
    background-color: rgb(4, 130, 158);
}

.responseMessageLabel {
    min-width: 100%;
    min-height: 4%;
    text-align: center;
}